<div class="mn-container d-flex justify-content-center">

  <div class="col-xl-8 col-lg-8 col-md-8" id="index-panel">
    <div class="index-page-logo">
      <img src="/styles/youjuke_logo_0.png" id="logo-img-index">
      <p id="slogan">Sick of algorithms telling you what to listen to?</p>
      <div class="index-button-container">
        <button type="button" class="btn btn-secondary sign-out-index" id="sign-out-button" data-toggle="modal"
          data-target="#sign-in" data-whatever="@mdo">Sign In</button>
      </div>
    </div>
    <ul class="nav nav-tabs" id="myTabLeft" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="queue-tab" data-toggle="tab" href="#queue" role="tab" aria-controls="queue"
          aria-selected="true">rooms</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="chat-tab" data-toggle="tab" href="#chat" role="tab" aria-controls="chat"
          aria-selected="false"><i class="material-icons">add</i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info"
          aria-selected="false"><i class="material-icons">help</i></a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContentLeft">
      <div class="tab-pane fade show active" id="queue" role="tabpanel" aria-labelledby="queue-tab">
        <div class="wrapper room-list-wrapper">

          <div id="left-panel-title">
          </div>
          <div class="room-list-container container">
            {{#each rooms}}
            <div class="listed-room">
              <a href="/room/{{this.dataValues.id}}" data-room={{this.dataValues.id}} class="room row">
                <div class="listed-room-name col-md-4">
                  {{this.dataValues.id}}. {{this.dataValues.name}}
                </div>
                <div class="listed-room-description col-md-8">
                  {{this.dataValues.description}}
                </div>
              </a>
            </div>
            <br>
            {{/each}}
          </div>
        </div>

      </div>
      <div class="tab-pane fade" id="chat" role="tabpanel" aria-labelledby="chat-tab">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Room Name</span>
          </div>
          <input type="text" class="form-control" aria-label="new-room" aria-describedby="basic-addon1" id="new-room">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Describe the Room</span>
          </div>
          <textarea class="form-control" aria-label="With textarea" id="room-desc"></textarea>
        </div>
        <button type="button" class="btn btn-primary" id="submit-room">Submit</button>

      </div>

      <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
        <div class="about-app-index">

          <h3>What is Youjuke?</h3>

          <p>Youjuke is a music forum that allows groups of visitors to compile
            a shared playlist and listen to it together, live. Anyone can add a track
            to the playlist, but it is up to all users as a whole to decide the order of the
            playlist. Whether you want to share tracks with a larger audience,
            or want to break out into a virtual party with friends, Youjuke has you covered.</p>

          <p>Want to know which music the audience likes? Youjuke keeps track of favorite tracks.
          </p>

          <p>Let you be the algorithm to your listening party.</p>

          <h3>How do I use Youjuke?</h3>

          <ul>
            <li>First, create an account or log in.</li>
            <li>Click on the 'rooms' tab to see existing rooms. Click on one you would like to enter.</li>
            <li>If you want to create a room, click on the '+' tab.</li>
            <li>Once you are in your room, there may be songs already cued up. Click on the play button to begin.</li>
            <li>Due to licensing, this version of Youjuke currently only plays previews and not complete
              songs.
            </li>
            <li>Like with radio, as you (or others in the room) listen to songs, they will be cycled out of the cue and
              the playlist will be updated live.</li>
            <li>Want to hear that song you just added more than any of
              the others already in the playlist? Give that song a thumbs up to vote up its position.
              If that song has more
              has more thumbs-ups than the other tracks, it will come on after the current song. </li>
            <li>Hate a song in the playlist? Give that song a thumbs down. The most down-voted songs
              will appear
              at the bottom of the playlist after the current song ends.</li>
            <li>There are graph tabs that show charts of music preferences of users and lists of
              favorite tracks of both you and other users.</li>
          </ul>


          <h3>More information</h3>

          <p>YouJuke was developed by Greg Allebach and Patrick Urbankowski.</p>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal" tabindex="100" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <ul class="nav nav-tabs" id="myTabLeft" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="signup-tap" data-toggle="tab" href="#create-tab" role="tab"
            aria-controls="create-tab" aria-selected="true">Create Account</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="login-tab" data-toggle="tab" href="#login-panel" role="tab" aria-controls="login-tab"
            aria-selected="false">Log In</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContentLeft">
        <div class="tab-pane fade show active" id="create-tab" role="tabpanel" aria-labelledby="signup-tab">
          <form action="" class="signup">
            <div class="modal-body">
              <div class="form-group">
                <input type="email" class="form-control email-input" id="email-signup" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control password-input" id="password-signup" placeholder="Password">
              </div>
              <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span> <span class="msg"></span>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="create-account">Create Account</button>
                <button type="button" class="btn btn-secondary">Stranger Mode</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="login-panel" role="tabpanel" aria-labelledby="login-tab">
          <form action="" class="login">
            <div class="modal-body">
              <div class="form-group">
                <input type="email" class="form-control email-input2" id="email-signin" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control password-input2" id="password-signin" placeholder="Password">
              </div>
              <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span> <span class="msg"></span>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="login-button">Log In</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>